/* header */
header{
    background-image: url(../imagenes/fondo_diseño.png);
    background-size: cover;
}

header .pregunta{
    position: absolute;
    left: 10%;
    top: 50%;
    max-height: 50px;
    font-size: 4em;
    transform: translate(0px,-130px);
    
    color: white;
}

header .marco3{
    position: absolute;
    width: 10%;
    right:  10%;
    top: 40%;
    transform: translate(0px,-250px);
    width: 450px;


}
header .marco3 img{
    width: 80%;
}
.carrito{
    width: 80px;
    background-color: #3A0A5B;
}
.carrito img{
    width: 100%;
}
header .pregunta p{
    height: 100%;
    
}
/* servicios */
#servicios{}
#servicios .titulose{
    width: 100%;
}
.btnservi{
    width:200px ;
}
#servicios .titulose h2{
    width: 100%;
}


/* comodiseñamos */
#cdiseñamos{
    display: flex;
    align-items: center;
    min-height: 50vh;
}

#cdiseñamos .marco1{
    
}
#cdiseñamos .marco1 img{
   transform: translate(-0px , 150px);
   width: 100%;
    
}
#cdiseñamos .texto1{
    font-size: 1.5em;
} 
#cdiseñamos .texto1 h3{
    color: #3A0A5B;
    font-size: 3em;
}


.fondo{
    
    background-color: white;
    
}

.fondo .tablero{
    margin: 5%;
    border-radius: 20px;
    
}




/* MEDIA QUERI */
/* a */

@media (min-width: 1px) {

}

/* SM */
@media (max-width: 576px) {
    .carrito{
        width: 80px;
        background-color: #3A0A5B;
        position: fixed;
        left: 50%;
    }
}


/* MD */
@media (max-width: 786px) {
    .carrito{
        width: 80px;
        background-color: #3A0A5B;
        position: fixed;
        left: 40%;
    }
}



/* LG */
@media (max-width: 992px) {
    #cdiseñamos .marco1{
        width: 300px;
        display: none;
    }
    .carrito{
        width: 80px;
        background-color: #3A0A5B;
        position: fixed;
        left: 30%;
    }
    #cdiseñamos .marco1 img{
       transform: translate(-0px , 100px);
       display: none;
        
    }
}
@media (min-width: 992px) {
    .pollo1{
        font-size: 1.5em;
     }
     
}


@media (min-width: 1300px){
    #cdiseñamos .marco1{
        width: 600px;
    }
    #cdiseñamos .marco1 img{
       
       
        
    }
    
}
/* XL */
@media (max-width: 1200px) 

{
    header{
    background-image: url(../imagenes/fondo_diseño.png);
    background-size: cover;
}

header .pregunta{
    position: absolute;
    left: 10%;
    top: 50%;
    max-height: 50px;
    font-size: 4em;
    transform: translate(0px,-130px);
    
    color: white;
}


#cdiseñamos .marco1{
    
}
#cdiseñamos .marco1 img{
   
   width: 100%;
    
}





header .marco3{
    position: absolute;
    width: 10%;
    right:  10%;
    top: 50%;
    transform: translate(0px,-250px);
    width: 450px;


}






.marco3 img{
    display: none;
 }

 .pollo1{
    font-size: 1.2em;
 }
 .pollo2{
    font-size: 1.5em;
 }
.carrito{
    width: 80px;
    background-color: #3A0A5B;
}}



/* XXL */
@media (min-width: 1400px) {}